.bibtex{
    background: #F8F8F8;
}

pre{
    font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter',monospace;
}

.noshow{
    visibility: hidden;
}

.embed-responsive-210by297 {
  padding-bottom: 141.42%;
}
