---
---
<div>
  {{reference | replace_first: 'Kelly Blincoe', '<b>Kelly Blincoe</b>' }}
</div>

<div style="padding-bottom: 0px">
  {% if entry.award %}
  <span><i class="fas fa-trophy"></i> <strong> {{entry.award}}  </strong></span><br>
  {% endif %}
  <span><a href="#bibtex-entry-{{key}}" data-toggle="collapse">BibTeX</a></span>
  {% if entry.doi %}
  <span>&nbsp;&middot;&nbsp;<a href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank">DOI</a></span>
  {% endif %}
  {% if entry.html %}
  <span>&nbsp;&middot;&nbsp;<a href="{{ entry.html }}" target="_blank">HTML</a></span>
  {% endif %}
  {% if entry.pdf %}
  <span class="d-none d-sm-inline">&nbsp;&middot;&nbsp;<a href="publications/{{key}}.html">PDF</a></span>
  <span class="d-inline d-sm-none">&nbsp;&middot;&nbsp;<a href="{{entry.pdf}}" target="_blank">PDF</a></span>
  {% endif %}
  {% if entry.slides %}
  <span>&nbsp;&middot;&nbsp;<a href="{{ entry.slides }}" target="_blank">Slides</a></span>
  {% endif %}
  {% if entry.code %}
  <span>&nbsp;&middot;&nbsp;<a href="{{ entry.code }}" target="_blank">Replication Package</a></span>
  {% endif %}
  {% if entry.video %}
  <span>&nbsp;&middot;&nbsp;<a href="{{ entry.video }}" target="_blank">Video</a></span>
  {% endif %}
</div>

<div id="bibtex-entry-{{key}}" class="collapse bibtex" aria-expanded="false"><pre>{{ entry.bibtex }}</pre></div>
