<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include header.html %}
  <body>
    {% include navbar.html %}
    <div class="container-fluid bg-light">
      <div class="row">
        {% include sidebar.html %}

	<div class="col-sm-11 bg-light">
	  <br>
	  <div class="embed-responsive embed-responsive-210by297">
	    <iframe class="embed-responsive-item" src="{{page.entry.pdf}}" allowfullscreen></iframe>
	  </div>
	</div>
	
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>

